*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('https://images.unsplash.com/photo-1493129922668-fcb1a8514643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1398&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
}

.content-center .text-center {
    text-align: center;
    
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input{
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus{
    border-bottom-color: #ffcd2e;
}

.content-center button {
    background-color: #ffaa04;
    color: #FFF;
}

.content-center button:hover{
    background-color: #c78604;
    cursor: pointer;

}

.content-center button:active{
    background-color: #906204;
    cursor: pointer;
}

header a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    text-shadow: 2px 2px 5px #111111;   
}

header a:visited {
    color: rgb(255, 255, 255) ;
}

header a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

